aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
aniso8601==7.0.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
CacheControl==0.12.10
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.9
click==8.0.3
cloudinary==1.28.1
constantly==15.1.0
cryptography==36.0.0
daphne==3.0.2
Django==3.2.10
django-channels-graphql-ws==0.9.0
django-cors-headers==3.10.1
django-extensions==3.1.5
django-filter==21.1
django-redis==5.1.0
django-rq==2.5.1
fcm-django==1.0.5
firebase-admin==5.1.0
frozenlist==1.2.0
gevent==21.12.0
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
graphene==2.1.9
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.2
grpcio==1.42.0
grpcio-status==1.42.0
gunicorn==20.1.0
h11==0.13.0
hiredis==2.0.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
msgpack==1.0.3
multidict==5.2.0
packaging==21.3
phonenumbers==8.12.39
promise==2.3
proto-plus==1.19.8
protobuf==3.19.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
pytz==2021.3
redis==3.5.3
requests==2.26.0
rq==1.10.1
rsa==4.8
Rx==1.6.1
service-identity==21.1.0
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
Twisted==21.7.0
txaio==21.2.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.17.6
Werkzeug==2.1.1
yarl==1.7.2
zope.event==4.5.0
zope.interface==5.4.0
